<form action="" method="post">
    <p>Enter the secret password to become an admin</p>
    <input type="password" required='required' placeholder="enter password here" name='adminpass'>
    <button type="submit">submit</button>
</form>