<form action="" method="post">
    <p>Enter the secret password to become a member</p>
    <input type="password" required='required' placeholder="enter password here" name='memberpass'>
    <button type="submit">submit</button>
</form>
